<%- include('../layouts/adminhomeHeader.ejs') %>

<div id="page-wrapper">
    <div class="main-page">
        <div class="forms">  
            <ol class="breadcrumb">
                <li><a href="/viewcategory">Categories</a></li>
                <li class="active">Add Category</li>
            </ol>    
            <div class=" form-grids row form-grids-right">
                <div class="widget-shadow " data-example-id="basic-forms"> 
                    <div class="form-title">
                        <h4>Add Category</h4>
                    </div>
                    <div class="form-body">
                        <form class="form-horizontal" action="/addcategory" method="POST" enctype="multipart/form-data"> 
                            <div class="form-group"> 
                                <label for="catname" class="col-sm-2 control-label">Category name</label> 
                                <div class="col-sm-9"> <input type="text" class="form-control" name="catname" required></div> 
                            </div> 
                            <div class="form-group"> 
                                <label for="catimg" class="col-sm-2 control-label">Category Image</label> 
                                <div class="col-sm-9"> <input type="file" class="form-control" name="catImg" accept="image/*" required id="inp">
                                <img src="" id="pic" alt="" name="catCrop">
                                <button id="cropImage" type="button">Crop</button> 
                            </div> 
                            <div class="col-sm-offset-2"> 
                                <button type="submit" class="btn btn-default">Add Category</button> 
                            </div> 
                        </form> 
                        <%
                            if(typeof message !== 'undefined'){
                            %>
                            <p class="text-danger text-center mt-3"><%= message %></p>
                            <%
                            }
                        %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/dist/cropper.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded' , () => {
        const input = document.getElementById('inp')
        const image = document.getElementById('pic')
        const cropBtn = document.getElementById('cropImage')

        let cropper

        input.addEventListener('change' , (e) => {
            const file = event.target.files[0]

            if(file){
                const reader = new FileReader()

                reader.onload = (e) => {
                    image.src = e.target.result

                    cropper = new Cropper(image , {
                        aspectRatio : 1 ,
                        viewMode : 1
                    })
                }
                reader.readAsDataURL(file)
            }
        })
        cropBtn.addEventListener('click' , () => {
            const croppedDataURL = cropper.getCroppedCanvas().toDataURL()
            image.src = croppedDataURL
        })
    })
</script>
<%- include('../layouts/adminFooter.ejs') %>