<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <h1><a class="navbar-brand" href="index.html"><span class=""></span> <span class="dashboard_text"></span></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="sidebar-menu">
            <div class="profile_img" style="padding: 20px;">	
              <span class="prfil-img"><img src="/admin/images/pro.jpeg" alt="" height="50px" width="50px"> </span> 
              <div class="user-name">
                  <p>Hello</p>
                  <span class="panel-title">Admin</span>
              </div>
              <i class="fa fa-angle-down lnr"></i>
              <i class="fa fa-angle-up lnr"></i>
              <div class="clearfix"></div>	
          </div>
            <li class="treeview">
              <a href="/admin">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/viewcategory">
              <i class="fa fa-spinner"></i> <span>Category</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/viewproducts">
              <i class="fa fa-shopping-cart"></i> <span>Products</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/viewusers">
              <i class="fa fa-group"></i> <span>Users</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/view-orders">
              <i class="fa fa-retweet"></i> <span>Orders</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/admin">
              <i class="fa fa-money"></i> <span>Coupon</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/admin">
              <i class="fa fa-picture-o"></i> <span>Banner</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/adminlogout">
              <i class="fa fa-sign-out"></i> <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
  </aside>